In [11]:
import pandas as pd

In [15]:
#Задание 1

In [17]:
df = pd.read_csv('df_clean_upd.csv')
df.shape

(9902, 19)

In [18]:
def print_useful_rows_info(df):
    print('Количество полностью заполненных объектов из всей выборки:', 
          len(df.dropna()))
    print('Процент полностью заполненных объектов из всей выборки:', 
          round(len(df.dropna()) / len(df) * 100, 2))
    
print_useful_rows_info(df)

Количество полностью заполненных объектов из всей выборки: 9543
Процент полностью заполненных объектов из всей выборки: 96.37

In [23]:
#Задание 2

In [25]:
print('Количество строк с незаполненным значением года выпуска:', 
          df[df.year.isna()].shape[0])

Количество строк с незаполненным значением года выпуска: 34

In [27]:
df = df[df.year.notna()]

In [29]:
print('Количество строк с незаполненным значением года выпуска:', 
          df[df.year.isna()].shape[0])

Количество строк с незаполненным значением года выпуска: 0

In [33]:
#Задание 3

In [35]:
df.fuel.value_counts(dropna=False)

fuel
gas         8298
other        725
diesel       643
hybrid       104
NaN           54
electric      44
Name: count, dtype: int64

In [37]:
df.fuel = df.fuel.fillna('other')

In [39]:
df.fuel.value_counts(dropna=False)

fuel
gas         8298
other        779
diesel       643
hybrid       104
electric      44
Name: count, dtype: int64

In [43]:
#Задание 4

In [45]:
print('Количество строк с незаполненным значением модели автомобиля:', 
          df[df.model.isna()].shape[0])

Количество строк с незаполненным значением модели автомобиля: 126

In [47]:
df['model'].value_counts(dropna=False)

model
f-150                        148
NaN                          126
silverado 1500               106
1500                         100
camry                         76
                            ...
sorrento lx v6                 1
sierra1500 crewcab 4x4         1
corolla se                     1
xc60 t6 inscription sport      1
a3 2.0t premium plus pzev      1
Name: count, Length: 3438, dtype: int64

In [49]:
df.model = df.model.fillna('other')

In [53]:
#Задание 5

In [55]:
df['title_status'].value_counts(dropna=False)

title_status
clean         9397
rebuilt        168
NaN            159
salvage         91
lien            35
missing         16
parts only       2
Name: count, dtype: int64

In [57]:
df = df[df.title_status.notna()]

In [59]:
df['title_status'].value_counts(dropna=False)

title_status
clean         9397
rebuilt        168
salvage         91
lien            35
missing         16
parts only       2
Name: count, dtype: int64

In [61]:
def print_useful_rows_info(df):
    print('Количество полностью заполненных объектов из всей выборки:', 
          len(df.dropna()))
    print('Процент полностью заполненных объектов из всей выборки:', 
          round(len(df.dropna()) / len(df) * 100, 2))
    
print_useful_rows_info(df)

Количество полностью заполненных объектов из всей выборки: 9709
Процент полностью заполненных объектов из всей выборки: 100.0

In [65]:
#Задание 6

In [67]:
df_upd = df.copy()
df_upd['year'] = df_upd['year'].astype(int)
df_upd['year'].dtype

dtype('int32')

In [71]:
#Задание 7

In [73]:
unique_counts = df_upd.from_records([(col, df_upd[col].nunique()) for col in df_upd.columns],
                                          columns=['Column_Name', 'Num_Unique']).sort_values(by=['Num_Unique'])
unique_counts

       Column_Name  Num_Unique
18  price_category           3
11    transmission           3
8             fuel           5
10    title_status           6
6     manufacturer          40
14           state          51
5             year          89
2           region         393
3       region_url         405
4            price        2130
7            model        3355
15             lat        4983
16            long        5016
9         odometer        6796
12       image_url        8815
13     description        9560
17    posting_date        9670
1              url        9709
0               id        9709

In [74]:

cols_to_exclude = ['year']

for col in df_upd.columns:
    if df_upd[col].nunique() < 406 and col not in cols_to_exclude:
        df_upd[col] = df_upd[col].astype('category')

In [77]:
df_upd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9709 entries, 0 to 9901
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              9709 non-null   int64
 1   url             9709 non-null   object
 2   region          9709 non-null   category
 3   region_url      9709 non-null   category
 4   price           9709 non-null   int64
 5   year            9709 non-null   int32
 6   manufacturer    9709 non-null   category
 7   model           9709 non-null   object
 8   fuel            9709 non-null   category
 9   odometer        9709 non-null   float64
 10  title_status    9709 non-null   category
 11  transmission    9709 non-null   category
 12  image_url       9709 non-null   object
 13  description     9709 non-null   object
 14  state           9709 non-null   category
 15  lat             9709 non-null   float64
 16  long            9709 non-null   float64
 17  posting_date    9709 non-null   object
 18  price_category  9709 non-null   category
dtypes: category(8), float64(3), int32(1), int64(2), object(5)
memory usage: 1002.1+ KB

In [81]:
#Задание 8

In [83]:
df_upd.year.describe()

count    9709.000000
mean     2010.894222
std         9.759301
min      1915.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

In [85]:
def calculate_outliers(data):
    q25 = data.quantile(0.25)
    q75 = data.quantile(0.75)
    iqr = q75 - q25
    boundaries = (int(q25 - 1.5 * iqr), int(q75 + 1.5 * iqr))

    return boundaries

boundaries = calculate_outliers(df_upd.year)
boundaries

(1994, 2030)

In [87]:
is_outlier = (df_upd.year < boundaries[0]) | (df_upd.year > boundaries[1])

print('Количество выбросов в значении года выпуска:', is_outlier.sum())

print('Процент выбросов от всей выборки:', is_outlier.sum() / len(df_upd)*100, '%')

Количество выбросов в значении года выпуска: 365
Процент выбросов от всей выборки: 3.7593984962406015 %

In [89]:
df_upd[is_outlier]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
21,7312327909,https://madison.craigslist.org/cto/d/madison-1...,madison,https://madison.craigslist.org,89995,1970,other,oldsmobile 442,gas,111111.0,clean,automatic,https://images.craigslist.org/00S0S_agk7Nol4CO...,1970 Oldsmobile 442 Convertible 442 Indy Pace ...,wi,43.098400,-89.273400,2021-04-25T10:10:43-0500,high
57,7314413105,https://inlandempire.craigslist.org/ctd/d/cost...,inland empire,https://inlandempire.craigslist.org,69888,1948,ford,coe,gas,1.0,clean,automatic,https://images.craigslist.org/00M0M_8jgBCZZuG6...,Awesome Resto-Mod COE Ford Car Hauler. Equippe...,ca,33.680100,-117.908500,2021-04-29T10:49:29-0700,high
66,7310077530,https://hudsonvalley.craigslist.org/cto/d/bloo...,hudson valley,https://hudsonvalley.craigslist.org,5500,1990,other,Diahatsu,gas,30000.0,clean,manual,https://images.craigslist.org/00T0T_a4VRbx40ea...,1991 Daihatsu hijet 5 speed extended cab....im...,ny,41.564400,-74.430400,2021-04-20T18:30:18-0400,low
106,7314527175,https://rapidcity.craigslist.org/ctd/d/sherman...,rapid city / west SD,https://rapidcity.craigslist.org,43500,1968,chevrolet,camaro,gas,43320.0,clean,manual,https://images.craigslist.org/00h0h_2N66LMJBAI...,1968 Chevrolet Camaro Convertible. VIN:124678N...,sd,33.637200,-96.618400,2021-04-29T15:11:01-0600,high
143,7316938454,https://duluth.craigslist.org/cto/d/calumet-83...,duluth / superior,https://duluth.craigslist.org,4000,1983,chevrolet,c10 short box,gas,0.0,clean,automatic,https://images.craigslist.org/00P0P_6I2TfYDHbN...,Arizona project started. new 350 4 bolt main ...,mn,47.394400,-93.246200,2021-05-04T15:55:58-0500,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9762,7316395713,https://seattle.craigslist.org/see/ctd/d/sherm...,seattle-tacoma,https://seattle.craigslist.org,35500,1965,pontiac,gto,gas,61009.0,clean,manual,https://images.craigslist.org/00C0C_k6h7Uzc55e...,1965 Pontiac GTO. VIN: 237375P248569. True GTO...,wa,33.637200,-96.618400,2021-05-03T13:06:11-0700,high
9789,7313487583,https://springfield.craigslist.org/cto/d/mount...,springfield,https://springfield.craigslist.org,3500,1974,jeep,cj5,gas,10000.0,clean,manual,https://images.craigslist.org/00G0G_cdxzaTaVqa...,1974 Jeep cj5 304 v8 4speed manual trans Da...,mo,36.331200,-92.375300,2021-04-27T14:30:28-0500,low
9846,7313676859,https://reno.craigslist.org/ctd/d/sherman-1984...,reno / tahoe,https://reno.craigslist.org,26500,1984,chevrolet,silverado,gas,38751.0,clean,automatic,https://images.craigslist.org/00r0r_czXfi4UeJF...,"1984 Chevrolet C10 Silverado, short wheelbase ...",ca,33.637200,-96.618400,2021-04-27T19:44:27-0700,high
9874,7316458200,https://portland.craigslist.org/mlt/cto/d/port...,portland,https://portland.craigslist.org,18500,1972,chevrolet,other,gas,75000.0,clean,automatic,https://images.craigslist.org/00x0x_7FqS8iHJst...,1972 classic Chevrolet pick up custom deluxe ...,or,45.494960,-122.666988,2021-05-03T14:58:34-0700,medium
9892,7316175335,https://orangecounty.craigslist.org/cto/d/hunt...,orange county,https://orangecounty.craigslist.org,1575,1988,other,1988 Nisan,gas,120000.0,clean,manual,https://images.craigslist.org/00B0B_5t6BpiGoz9...,Really good running 88 Nissan. Has Sun roof. B...,ca,33.654019,-117.980606,2021-05-03T07:19:18-0700,low

***Верхняя граница выбросов (2030) не актуальна, т к максимальное значение в столбце == 2022. 
Если стоит задача, чтобы ML определяла категорию цены авто, в зависимости от ее характеристик(в том числе и года выпуска), то по моему скромному мнению, стоит удалить из выборки автомобили старше нижней границы выбросов. Такие автомобили слишком разнятся в цене, то есть бывает хлам, который стоит гроши, а бывает эксклюзивный раритет, который оценивается в миллионы. На такие авто категорию цены стоит устанавливать вручную.
P.S. Не знаю на сколько это относится к практической работе, просто мысли вслух.***

In [100]:
df_upd.to_csv('df_upd.csv', index=False)