# Feature Engineering. Практическая работа

Сдаётся на проверку.

## Цели практической работы

Научиться: 

*   генерировать новые признаки; 
*   нормализовать и кодировать данные с помощью lambda-функций и библиотеки scikit-learn.

## Что входит в практическую работу

1. Построить признаки из строк.
2. Преобразовать категориальные переменные.
3. Стандартизировать данные.
4. Использовать MinMaxScaler для нормализации данных.
5. Создать признаки на основе дат.
6. Сохранить датафрейм для этапа моделирования.

## Что оценивается
- Программа выдаёт верный ответ на заданном наборе данных.
- Описаны причины выбранного решения, если требуется.
- Код читабелен: переменным даны осмысленные названия, соблюдены отступы и правила расстановки пробелов.
- При построении графиков название и оси подписаны, выведена легенда, если требуется. 
- Репозиторий проекта содержит осмысленные коммиты, содержащие конкретные реализованные фичи, ветки названы согласно назначению, лишние файлы не хранятся в репозитории.
- В репозитории проекта соблюдена иерархия директорий согласно списку модулей и содержащихся в них тем.
- Репозиторий проекта содержит файлы с данными, полученными в результате выполнения практической работы.

## Как отправить работу на проверку
Сдайте практическую работу этого модуля через систему контроля версий Git сервиса Skillbox GitLab. После загрузки работы на проверку напишите об этом в личном кабинете своему проверяющему куратору.

## Задача

Мы продолжим исследовать и готовить данные для этапа моделирования.

Вам предстоит работать с небольшой выборкой из коллекции подержанных автомобилей, выставленных на продажу в Соединённых Штатах, представленной в файле `data/vehicles_dataset_upd.csv`. На этих данных вы построите первую модель классификации, определяющую категорию цены подержанного автомобиля в зависимости от характеристик транспортного средства.

В этой практической работе вы продолжите генерировать дополнительные признаки и завершите подготовку датасета для этапа моделирования.

## Описание датасета:
- `id`— идентификатор записи;
- `url`— URL-записи о продаже;
- `region`— регион;
- `region_url`— URL региона;
- `price`— стоимость;
- `year`— год выпуска;
- `manufacturer`— производитель;
- `model`— модель;
- `condition`— состояние;
- `cylinders`— количество цилиндров;
- `fuel`— тип топлива;
- `odometer`— количество пройденных миль;
- `title_status`— статус;
- `transmission`— коробка передач;
- `VIN`— идентификационный номер;
- `drive`— тип привода;
- `size`— размер;
- `type`— кузов;
- `paint_color`— цвет;
- `image_url`— URL изображения;
- `description`— указанное описание;
- `county`— страна;
- `state`— штат;
- `lat`— широта;
- `long`— долгота;
- `posting_date`— дата размещения объявления о продаже;
- `price_category`— категория цены.

In [285]:
# Импортируйте необходимые библиотеки
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

### Задача 1. Построение признаков из строк

1. Загрузите датасет из `data/vehicles_dataset_upd6.csv`, выведите первые пять записей и список колонок.

In [288]:
# Ваш код здесь
df = pd.read_csv("C:/Users/derna/OneDrive/Рабочий стол/дата аналитик/дз/Module_20/vehicles_dataset_upd6.csv")
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,is_jeep,is_honda,is_nissan,x0_diesel,x0_electric,x0_gas,x0_hybrid,x0_other,std_scaled_odometer,std_scaled_price
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,0,0,0,1.0,0.0,0.0,0.0,0.0,-1.079390,2.958509
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,0,0,0,0.0,0.0,0.0,0.0,1.0,-0.560115,-0.085826
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,0,0,0,0.0,0.0,1.0,0.0,0.0,-1.292863,1.406256
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,0,0,0,0.0,0.0,1.0,0.0,0.0,0.352621,-0.281218
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,0,0,0,0.0,0.0,0.0,0.0,1.0,-0.234311,-0.274017

2. Выведите список значений и количество уникальных значений для модели автомобиля.

In [290]:
# Ваш код здесь
print(df['model'])

print(f'Количество уникальных значений:  { df['model'].nunique() }')

0          2500 crew cab big horn
1            explorer 4wd 4dr xlt
2                golf r hatchback
3                            rav4
4          1 series 128i coupe 2d
                  ...
9614                         rav4
9615                     wrangler
9616    a3 2.0t premium plus pzev
9617                      cayenne
9618       1500 crew cab big horn
Name: model, Length: 9619, dtype: object
Количество уникальных значений:  3341

3. Количество уникальных значений велико. Попробуем их сократить, оставив только первое слово в наименовании модели. С помощью lambda-функции и преобразования над строками создайте новый признак `short_model`, содержащий только первое слово из наименования модели, выведите его и количество получившихся уникальных значений.

In [292]:
# Ваш код здесь
df['short_model'] = df.apply((lambda x: x.model.split(' ')[0]), axis=1)
print(df['short_model'])
print(f'Количество уникальных значений:  { df['short_model'].nunique() }')

0           2500
1       explorer
2           golf
3           rav4
4              1
          ...
9614        rav4
9615    wrangler
9616          a3
9617     cayenne
9618        1500
Name: short_model, Length: 9619, dtype: object
Количество уникальных значений:  943

### Задача 2. Преобразование категориальных переменных

1. Для категориальных переменных `short_model`, `transmission`, `region`, `manufacturer`, `state`, `title_status`, `age_category` распечатайте наименование категории и количество уникальных значений в ней.

In [294]:
# Ваш код здесь
print(f' Категория: short_model. Значения: {df['short_model'].unique()}')
print(f' Категория: transmission. Значения: {df['transmission'].unique()}')
print(f' Категория: region. Значения: {df['region'].unique()}')
print(f' Категория: manufacturer. Значения: {df['manufacturer'].unique()}')
print(f' Категория: state. Значения: {df['state'].unique()}')
print(f' Категория: title_status. Значения: {df['title_status'].unique()}')
print(f' Категория: age_category. Значения: {df['age_category'].unique()}')

 Категория: short_model. Значения: ['2500' 'explorer' 'golf' 'rav4' '1' 'fusion' 'accord' 'charger' 'altima'
 'galant' '500' 'town' 'e-series' 'g.' 'silverado' 'mustang' 'maxima'
 'civic' 'vue' 'tahoe' 'f-350' 'f150' 'clubman' 'xts' '3500' 'rogue'
 'compass' 'camry' 'renegade' 'forte5' 'f-150' 'wrangler' 'mazda3' '535i'
 'park' 'focus' 'gx' 'titan' 'corolla' 'colorado' 'tiguan' 'impreza'
 'jetta' 'super' 'q5' 'es' 'lx450' 'pilot' 'Diahatsu' 'other' 'sequoia'
 '1500' 'tucson' 'sierra' 'grand' 'nautilus' 'elantra' 'x1' 'camaro'
 'benz' 'tacoma' 'tsx' 'sebring' 'yukon' 'cooper' 'enclave' 'x4' 'sequioa'
 'xc90' 'is300' 'f350' 'romeo' 'ranger' 'spark' '7' 'express' 'q7'
 'tribute' 'xv' 'impala' 'c300' 'frontier' 'fit' 'cc' 'transit' 'outback'
 'passat' '350z' 'optima' 'c10' 'expedition' 'pathfinder' 'challenger'
 '200' 'taurus' 'evoque' 'x3' 'arcadia' 'cr-v' 'xt6' 'sante' 'versa'
 'e150' 'equinox' 'sonata' 'soul' 'regal' 'Scion' 'lucerne' 'f250'
 'odyssey' 's60' 'cruze' 'mkx' 'sienna' '914' '300c' 'crosstrek'
 'Voltswagon' 'a6' '550i' 'sport' 'mazda6' 'sorento' 'malibu' 'THOMAS'
 'c-class' 'patriot' 'fj' 'trailblazer' 'c-max' '370z' 'mx-5' 'sl-class'
 'e250' 'f-250' 'cc4500' '328i' 'm' 'nx' 'escape' 'Emergency' 'corvette'
 'liberty' 'vibe' 'edge' 'model' 'chysler' 's5' 'legacy' 'v6' 'dts'
 'navigator' 'crv' 'rdx' 'avalanche' 's10' 'Genesis' 'suzuki' 'neon'
 'cougar' 'stinger' 'boxster' 'suburban' 'forte' 'verano' 'prius'
 'ridgeline' 'promaster' '5' 'xt4' 'wrx' 'mkz' 'cts-v' 'traverse'
 'journey' 'caprice' 'rx' 'avenger' '2002' 'limousine' 'eurovan' 'srx'
 'caravan' 'c70' 'cherokee' 'rivera' 'tl' '3.2' 'sentra' 'g37' 'k10' 'mdx'
 'rx8' 'cayenne' 'x5' '3' 'tundra' 'highlander' 'santa' 'yaris'
 'econoline' 'qx50' 'aura' 'outlander' 'dakota' 'isuzu' 'discovery' 'eos'
 'pickup' 'gti' 'cadenza' 'genesis' 'a5' 'Chevey' '6' 'qx60' 'flex'
 'mariner' 'durango' 'macan' 'cx-9' 'armada' 'lacrosse' 'Hot' 'Champion'
 'a4' 'f450' 'gt-r' 'cvr' 'land' 'envision' 'g6' '750xi' 'solara' 'f700'
 'eqinox' 'g4500' 'continental' 'cx-5' 'eclipse' 'HINO' 'envoy' 'e-class'
 'mazda2' 'q60' 'venza' 'trax' 'ss' 'f550' 'f-pace' 'terrain' 'quest'
 'dump' 'fiesta' 'ats' 'rx7' 'scion' '2018' 'e350' 'hyndai' 'avalon' 'brz'
 '1954' 'accent' 'acadia' '4runner' 'all' 'xt5' 'a3' 'v60' '4500' '500l'
 'bronco' 'Plymouth' 'Maserati' 'tlx' 'sts' '300zx' '86' '300' '4' 'cj5'
 'eldorado' 'cj8' 'Hummer' 'hhr' 'g' 'panamera' 'lx' 'city' 'commander'
 'e46' 'mercedes-amg' 'ram1500' 'sable' 'sonoma' 'certified' 'sedona'
 'deville' 'sonic' 'five' 'dart' '1999' 'seirra' 'cobalt' 'e-250' 'm3'
 'thunderbird' 'hardtop' 'GRAND' 'c' 'blue' 'veloster' 'm-class' 'e-pace'
 'qx80' 'encore' 'cts' 'truck' 's90' 'f-250sd' '240' 'nv200' 'pt'
 'forester' 'windstar' 'miata' 's320' 'FORD*' 'bel' 'rainier' 'i-miev'
 'hse' 's-10' 'escalade' 'ion' 'deluxe' 'international' 'ls' 'aveo'
 '535xi' 'murano' 'pick' 'rl' 'gto' 'nv2500' 'clk-class' 'ct5' '3-series'
 'Isuzu' 'b2200' '3i' 'xe' 'caliber' '323i' 'rsx' '545i' 'pacifica'
 'jeepster' 'svx' 'captiva' 'f' 's8' 'sprinter' 'plymouth' 'xterra' 'f650'
 'lifted' 'Lotus' 'IC' 's7' 'Sea' 'SCION' 'atlas' 'srx~awesome' 'c-7500'
 'lesabre' 'INTERNATIONAL' 'International' 'quattro' 'kicks' 'juke'
 'savana' 's2000' 'beetle' 'gladiator' 'ilx' 'willys' 'new' 'g35x' 'q70'
 '1978' 'c-hr' 'srx4' 'mpv' 'Flexible' 'bonanza' 'gle' 'c8500' 'cx9' 'is'
 'utility' 'freestyle' '300-series' 'magnum' 'blazer' '325i' 'hummer'
 'g37s' '280zx' 'q50' 'excursion' 'mountaineer' '2007' 'Janesville' 'gls'
 'xk8' 'f-450' 'sportage' 'xj' 'FORD/RANGER' 'freightliner' 'uplander'
 '5500' 'passport' 'vandura' 'Isizu' 'metris' 'FordE350' 'cavalier' 'nv'
 'coupe' 'mkc' 'b2300' 'pontaic' 'v90' 'gmc/chev' 'jouney' 'i3'
 'countryman' 'E46' 'glk-class' 'Saab' 'x6' 'g35' 'rio' 'fiero' 'fuso'
 'f-550' 'grumman' 'Suzuki' 'cx-7' 'fleetwood' 'a7' 'Comanche' '2' 'Xx'
 'mirage' 'r32' 'ml350' 'canyon' 'Pierce' 'rebel' 'lr2' 's500' '350'
 'roadster' 'aspen' 'nv2500hd' 'tudor' 'bus' 'GEHL' 'leaf' 'ml' 'gx470'
 'ioniq' '750i' 'mazda5' 'PROGRAMS' 'a3,' '2500hd' '2009' 'qx70' 'triumph'
 '440xi' 'x-3' '330xi' 'milan' 'crew' 'q3' 'davidson' 'sedan' 'Acuarea'
 'Frtlner' 'cabrio' 'astra' 'MERCUTY' 'f-450sd' 'Jayco' '944' '325ci'
 'nitro' 'element' '540i' 's-class' 'Chevorlet' 'studebaker' 'colbalt'
 'stratus' 'Jauguar' 's' '328ci' 'mark' 'gs' 'arteon' 'S60' 'baja' 's4'
 'Thomas' 'xf' 'xc40' 'glc' 'ASC' 'cl-class' 'cabellero' 'matrix' 'sl55'
 'Sterling' '124' 'echo' 'thomas' 'range' 'jx35' 'BUY' 'm35' 'glc-class'
 'tribeca' 'vtx1300c' 'xc60' 'is250' 'deisel' '328' 'azera' 'insight'
 'm35s' 'chevelle' '4-runner' '3500hd' 'century' '911' 'glk350' 'cc300'
 'z' 's70' 'ecosport' 'g8' 'es300' 'hiace' 'niro' 'jimmy' 'panel' 'qx56'
 'g30' 'Minin' 'isf' 'volt' 'i30' 'slc' 'ct6' 'defender' '525i' 'soul+'
 'sc300' 'e-golf' '3100' 'cts4' '528i' 'mazda6i' 'e-150' 'sky' 'Nascar'
 'sorrento' 'sierra1500' '430i' 'gl450' 'MITUSBISHI' 'xj8' 'tt' 'e-350'
 'c4500' 'supra' 'e' 'x-type' 'saab' 'gl-class' 'nx300' 'Freightliner'
 'e450' 'putback' 'riviera' 'venture' 'step-van' 'rat' 'gt' 's40' '530i'
 'cj2a' 'mallinia' 'American' 'touareg' 'spectra' 'oldsmobile' 's3'
 'classuc' 'sle' 'slk' 'maximum' '1972' 'belair' 'rouge' '5500hd' '318i'
 's430' 'astro' 'f100' 'HUMMER' 's6' 'phaeton' '320i' 'classic' 'trans'
 '530' 'Studebaker' 'tracker' 'AM' 'ascent' 'crown' 'veracruz' 'PLYMOUTH'
 'lancer' 'ct4' 'van' '5th' 'gx460' 'gla-class' 'firebird' 'FRRV'
 'mercades' 'tercel' '2008' '210' 'rx350' 'fx35' 'allroad' 'g37x' 'cube'
 'rondo' 'gla' 'gmt-400' 'k900' 'GULF' 'b-series' 'paceman' '928' '650i'
 'capri' '328xi' 'conquest' 'fj40' '1968' 'gs430' 'escort' 'cla'
 'escape-se,' 'z4' 'Town' 'marineer,premier' 'xc' 'crosstour' 'routan'
 'i35' '2000' 'oddyssey' 'monte' 'blackwood' 'freestar' 'f750' 'hr-v'
 't-350' 'GMC,' 'montero' 'landcruiser' 'legend' '750' 'c/k' '4x4' '325xi'
 'cx-3' 'high' 'MASERATI' 'aviator' 'denali' 'QX' 'seville' 'w350' 'zx2'
 'amc' 'sl2' 'ACURA*' 'e-450' 'newport' 'falcon' 'f50' 'maserati' 'Comet'
 'rabbit' 'c30' 'corsair' '335xi' 'Triumph' 'Gx' 'reatta' 'avanger'
 'kodiak' 'clarity' 'starcraft' 'caravan/grand' 'prizm' 'cmax' 'v50' 'z3'
 'OLDSMOBILE' 'crz' 'f-type' 'convertible' 'solstice' 'velar' 'g5' '2016'
 'c5500' 'f-350sd' 'cascada' 'rav' 'roadmaster' '645ci' 'mg' 'cx7' 'c250'
 'ml500' 'lightning' '335i' 'rx-8' 'shelby' 'ramcharger' 'lemans' 'MGB'
 'nv1500' 'ct' 'sc' '380sl' 'k20' 'f1' '3-window' 'k30' 'mks' 't' 'bolt'
 'zephyr' 'country' '1928' 'f-100' 't-bucket' 'srx-v6' '163869'
 'autobiography' '500c' '-benz' 'rc' 'camary' 'Peterbilt' 'el' 'elcamino'
 '2012' 'a-class' 'smart' 'glk' 'Eagle' 'rx400h' 'xc70' '2017' 'F250'
 'slk-class' 'comet' 'replica' 'clk350' 'Blue' 'es330' 'ux' 'e320' '528xi'
 'concorde' '650xi' 'D7FH173552' '500x' 'F-250' 'suv' 'md-x' 'clk' 'Hobda'
 'rs' 'GMX' 'fleetmaster' 'b-class' 'ssr' 'rx300' 'MV-1' 'protege' 'fx45'
 'gr' 'duramax' 'gle-class' 'thing' 'k5' 'vnl' 'CLICK' 'vanagon'
 'CHEVORLET' '135i' 'f600' 'thrift' 'tc5500' 'bug' 'GCM' 'cayman' '328d'
 'cj-5' 'lr3' 's/w' 'es350' 'ALL' 'f-750' 'tarsus' 'allante' '1966'
 '198.5' 'm5' 'c-10' 'Kaiser' '325is' 'JM1BK32F871604924' 'a8' 'endeavor'
 'Buicks' 'MERDECES' 'crossfire' 'DODGE1500' 'dealer*' '330i' 'b2600i'
 'voyager' 'gl' 'c60' 'l300' 'telluride' 'camero' '640' 'r-class'
 'grandville' 'sl550' 'cla-class' 'mr2' 'foxbody' 'cls-class' 'am' '435i'
 'fe' 'villager' 'd50' 'caddilac' 'f-650' 'rx330' 'prelude' 'c280'
 'Bentley' 'tractor' '50' 'fords' 'c6500' 'cls550' 'sc2' '1994' '5-series'
 'diesel' 'ghia' '300s' 'skylark' 'chryler' 'hardbody' 'school' 'EASY'
 'lr4' 'g-class' 'rlx' 'Hino' 'g20' 'sl500' 'f450sd' 'xj-series' '1960s'
 'hearse' '1988' 'cj7' 'mkt' '1951' 'ltd' '2006' 'slt' 'aztek' 'x2' 'C'
 'optimia' 'e500' 'outlook' 'cargo' '1977' 'torrent' 'ram2500' 'SL' '2015'
 '128i' 'long' 'nova' 'bonneville' 'AMC' 'gmce' '428' 'chevorlet' 'l'
 'rendezvous' 'FREIGHTLINER' 'durangon' 'gs350']
 Категория: transmission. Значения: ['other' 'automatic' 'manual']
 Категория: region. Значения: ['chattanooga' 'north jersey' 'reno / tahoe' 'fayetteville' 'knoxville'
 'des moines' 'roanoke' 'grand rapids' 'omaha / council bluffs'
 'rhode island' 'cincinnati' 'jacksonville' 'seattle-tacoma' 'redding'
 'hawaii' 'salina' 'billings' 'fresno / madera' 'charleston'
 'inland empire' 'modesto' 'south jersey' 'phoenix' 'new haven'
 'ft myers / SW florida' 'tyler / east TX' 'charlotte' 'corpus christi'
 'appleton-oshkosh-FDL' 'las vegas' 'eugene' 'syracuse' 'stockton'
 'danville' 'greenville / upstate' 'philadelphia' 'anchorage / mat-su'
 'maine' 'port huron' 'springfield' 'olympic peninsula' 'san angelo'
 'richmond' 'albuquerque' 'dallas / fort worth' 'SF bay area' 'yakima'
 'fort collins / north CO' 'boise' 'st cloud' 'albany' 'nashville'
 'colorado springs' 'yuba-sutter' 'san luis obispo' 'cleveland' 'prescott'
 'hudson valley' 'ventura county' 'holland' 'ocala' 'baton rouge'
 'central NJ' 'pittsburgh' 'tucson' 'ames' 'erie' 'vermont'
 'killeen / temple / ft hood' 'austin' 'jersey shore'
 'kennewick-pasco-richland' 'western KY' 'kenai peninsula' 'detroit metro'
 'bellingham' 'battle creek' 'chautauqua' 'st louis, MO'
 'dayton / springfield' 'kansas city, MO' 'louisville'
 'rapid city / west SD' 'indianapolis' 'orange county' 'baltimore'
 'champaign urbana' 'show low' 'salem' 'mankato' 'sarasota-bradenton'
 'tampa bay area' 'raleigh / durham / CH' 'new york city' 'gold country'
 'montgomery' 'chico' 'fargo / moorhead' 'tulsa' 'south bend / michiana'
 'harrisburg' 'chicago' 'duluth / superior' "spokane / coeur d'alene"
 'kalispell' 'twin falls' 'worcester / central MA' 'columbus'
 'lima / findlay' 'oklahoma city' 'binghamton' 'greensboro' 'denver'
 'delaware' 'los angeles' 'rockford' 'columbia / jeff city' 'lancaster'
 'san antonio' 'orlando' 'hartford' 'charlottesville' 'ithaca' 'memphis'
 'elko' 'clarksville' 'lincoln' 'gainesville' 'monterey bay'
 'south florida' 'lehigh valley' 'wenatchee' 'wilmington'
 'macon / warner robins' 'new hampshire' 'treasure coast' 'akron / canton'
 'lewiston / clarkston' 'mobile' 'topeka' 'rochester' 'bakersfield'
 'kalamazoo' 'eastern NC' 'terre haute' 'reading' 'eastern CT'
 'grand island' 'long island' 'toledo' 'sacramento' 'york' 'fort wayne'
 'milwaukee' 'myrtle beach' 'scranton / wilkes-barre' 'daytona beach'
 'frederick' 'amarillo' 'buffalo' 'savannah / hinesville'
 'western massachusetts' 'portland' 'huntington-ashland' 'el paso'
 'bismarck' 'winston-salem' 'western slope' 'st george' 'roseburg'
 'tallahassee' 'minneapolis / st paul' 'columbia' 'decatur' 'wausau'
 'morgantown' 'palm springs' 'annapolis' 'lawrence' 'williamsport'
 'santa fe / taos' 'norfolk / hampton roads' 'northwest GA' 'bend'
 'kokomo' 'missoula' 'washington, DC' 'glens falls' 'new river valley'
 'oregon coast' 'south coast' 'san diego' 'las cruces' 'lakeland' 'boone'
 'atlanta' 'joplin' 'saginaw-midland-baycity' 'muskegon' 'wichita falls'
 'bozeman' 'parkersburg-marietta' 'florida keys' 'lansing'
 'southwest michigan' 'janesville' 'jackson' 'little rock'
 'quad cities, IA/IL' 'boston' 'visalia-tulare' 'plattsburgh-adirondacks'
 'huntsville / decatur' 'southern maryland' 'sioux falls / SE SD'
 'finger lakes' 'green bay' 'eau claire' 'shreveport' 'upper peninsula'
 'cedar rapids' 'mcallen / edinburg' 'madison' 'birmingham' 'southwest MN'
 'waco' 'pueblo' 'utica-rome-oneida' 'houston' 'pensacola' 'victoria'
 'skagit / island / SJI' 'medford-ashland' 'watertown' 'salt lake city'
 'moses lake' 'lexington' 'winchester' 'east idaho' 'wichita'
 'cumberland valley' 'western maryland' 'butte' 'great falls'
 'southern illinois' 'santa barbara' 'kenosha-racine' 'odessa / midland'
 'zanesville / cambridge' 'athens' 'fredericksburg' 'yuma' 'mohave county'
 'tri-cities' 'gadsden-anniston' 'sioux city' 'harrisonburg'
 'northwest OK' 'pullman / moscow' 'fairbanks' 'new orleans' 'asheville'
 'northwest CT' 'wyoming' 'jonesboro' 'mansfield' 'hilton head'
 'manhattan' 'poconos' 'brainerd' 'central michigan' 'statesboro'
 'siskiyou county' 'east oregon' 'space coast' 'ann arbor'
 'hickory / lenoir' 'north central FL' 'twin tiers NY/PA'
 'humboldt county' 'abilene' 'mattoon-charleston' 'monroe' 'susanville'
 'ashtabula' 'la crosse' 'boulder' 'sandusky' 'scottsbluff / panhandle'
 'tuscarawas co' 'heartland florida' 'stillwater' 'peoria' 'outer banks'
 'the thumb' 'eastern shore' 'laredo' 'muncie / anderson' 'lynchburg'
 'sierra vista' 'lubbock' 'youngstown' 'elmira-corning'
 'bloomington-normal' 'hattiesburg' 'beaumont / port arthur' 'flint'
 'hanford-corcoran' 'dothan' 'northern panhandle' 'brunswick' 'texoma'
 'merced' 'southeast missouri' 'galveston' 'santa maria' 'lafayette'
 'fort dodge' 'lafayette / west lafayette' 'altoona-johnstown'
 'potsdam-canton-massena' 'sheboygan' 'augusta' 'iowa city' 'southwest KS'
 'flagstaff / sedona' 'northwest KS' 'southeast alaska'
 'cape cod / islands' 'college station' 'state college' 'corvallis/albany'
 'florence' 'valdosta' 'bowling green' 'eastern kentucky'
 'clovis / portales' 'north mississippi' 'lake of the ozarks' 'mason city'
 'okaloosa / walton' 'san marcos' 'evansville' 'brownsville' 'meadville'
 'southeast IA' 'bemidji' 'texarkana' 'eastern montana'
 'central louisiana' 'lake charles' 'bloomington' 'northern WI'
 'mendocino county' 'imperial county' 'north platte' 'southwest VA'
 'northern michigan' 'la salle co' 'southern WV' 'ogden-clearfield'
 'florence / muscle shoals' 'southwest MS' 'south dakota' 'dubuque'
 'st joseph' 'del rio / eagle pass' 'tuscaloosa' 'fort smith'
 'panama city' 'roswell / carlsbad' 'chillicothe' 'farmington'
 'eastern panhandle' 'houma' 'logan' 'north dakota'
 'waterloo / cedar falls' 'eastern CO' 'grand forks' 'pierre / central SD'
 'oneonta' 'lawton' 'helena' 'klamath falls' 'owensboro' 'catskills'
 'gulfport / biloxi' 'kirksville' 'high rockies' 'northeast SD'
 'st augustine' 'auburn']
 Категория: manufacturer. Значения: ['ram' 'ford' 'volkswagen' 'toyota' 'bmw' 'honda' 'dodge' 'nissan'
 'mitsubishi' 'fiat' 'lincoln' 'chevrolet' 'saturn' 'mini' 'cadillac'
 'jeep' 'kia' 'mazda' 'buick' 'lexus' 'subaru' 'audi' 'other' 'rover'
 'hyundai' 'gmc' 'mercedes-benz' 'acura' 'chrysler' 'volvo' 'alfa-romeo'
 'porsche' 'pontiac' 'tesla' 'mercury' 'infiniti' 'jaguar' 'datsun'
 'harley-davidson' 'ferrari']
 Категория: state. Значения: ['tn' 'nj' 'ca' 'nc' 'ia' 'va' 'mi' 'ri' 'oh' 'fl' 'wa' 'hi' 'ks' 'mt'
 'sc' 'az' 'ct' 'tx' 'wi' 'nv' 'or' 'ny' 'pa' 'ak' 'me' 'mo' 'nm' 'co'
 'id' 'mn' 'la' 'vt' 'ky' 'il' 'sd' 'in' 'md' 'al' 'ok' 'ma' 'de' 'ar'
 'ne' 'ga' 'nh' 'nd' 'ut' 'wv' 'dc' 'wy' 'ms']
 Категория: title_status. Значения: ['clean' 'rebuilt' 'salvage' 'lien' 'missing' 'parts only']
 Категория: age_category. Значения: ['new' 'average' 'old']

2. Создайте датафрейм `data`, содержащий только выбранные категориальные переменные.

In [296]:
# Ваш код здесь
data = df[['short_model', 'transmission', 'region', 'manufacturer', 'state', 'title_status', 'age_category']]
data

,short_model,transmission,region,manufacturer,state,title_status,age_category
0,2500,other,chattanooga,ram,tn,clean,new
1,explorer,automatic,north jersey,ford,nj,clean,new
2,golf,other,reno / tahoe,volkswagen,ca,clean,new
3,rav4,automatic,fayetteville,toyota,nc,clean,average
4,1,other,knoxville,bmw,tn,clean,average
...,...,...,...,...,...,...,...
9614,rav4,automatic,chautauqua,toyota,ny,clean,old
9615,wrangler,other,binghamton,jeep,ny,clean,average
9616,a3,automatic,salem,audi,or,clean,average
9617,cayenne,automatic,madison,porsche,wi,clean,new
9618,1500,other,norfolk / hampton roads,ram,va,clean,new

3. Создайте объект класса OneHotEncoder, который будет отвечать за преобразование. Уточните, что на выходе должна быть неразреженная матрица.

In [300]:
ohe = OneHotEncoder(sparse_output=False)
# Ваш код здесь

4. Идентифицируйте параметры преобразования на датафрейме с категориальными переменными.

In [303]:
# Ваш код здесь
encoded_data = ohe.fit_transform(data)

5. Примените преобразование для датафрейма с категориальными переменными и сохраните в новую переменную, распечатайте получившуюся матрицу и её размерность.

In [307]:
# Ваш код здесь
categorical_columns = ['short_model', 'transmission', 'region', 'manufacturer', 'state', 'title_status', 'age_category']
encoded_df = pd.DataFrame(encoded_data, columns=ohe.get_feature_names_out(categorical_columns))
print(encoded_df.head())

   short_model_-benz  short_model_1  short_model_124  short_model_128i  \
0                0.0            0.0              0.0               0.0
1                0.0            0.0              0.0               0.0
2                0.0            0.0              0.0               0.0
3                0.0            0.0              0.0               0.0
4                0.0            1.0              0.0               0.0

   short_model_135i  short_model_1500  short_model_163869  short_model_1928  \
0               0.0               0.0                 0.0               0.0
1               0.0               0.0                 0.0               0.0
2               0.0               0.0                 0.0               0.0
3               0.0               0.0                 0.0               0.0
4               0.0               0.0                 0.0               0.0

   short_model_1951  short_model_1954  ...  state_wy  title_status_clean  \
0               0.0               0.0  ...       0.0                 1.0
1               0.0               0.0  ...       0.0                 1.0
2               0.0               0.0  ...       0.0                 1.0
3               0.0               0.0  ...       0.0                 1.0
4               0.0               0.0  ...       0.0                 1.0

   title_status_lien  title_status_missing  title_status_parts only  \
0                0.0                   0.0                      0.0
1                0.0                   0.0                      0.0
2                0.0                   0.0                      0.0
3                0.0                   0.0                      0.0
4                0.0                   0.0                      0.0

   title_status_rebuilt  title_status_salvage  age_category_average  \
0                   0.0                   0.0                   0.0
1                   0.0                   0.0                   0.0
2                   0.0                   0.0                   0.0
3                   0.0                   0.0                   1.0
4                   0.0                   0.0                   1.0

   age_category_new  age_category_old
0               1.0               0.0
1               1.0               0.0
2               1.0               0.0
3               0.0               0.0
4               0.0               0.0

[5 rows x 1439 columns]

6. Выведите новые наименования признаков с помощью метода `get_feature_names_out`.

In [310]:
# Ваш код здесь
ohe.get_feature_names_out()

array(['short_model_-benz', 'short_model_1', 'short_model_124', ...,
       'age_category_average', 'age_category_new', 'age_category_old'],
      dtype=object)

7. Добавьте в исходный датафрейм получившиеся новые признаки, выведите первые пять записей датафрейма и список колонок.

In [313]:
# Ваш код здесь
df = pd.concat([df, encoded_df], axis=1)

print(df.head())
print(df.columns)

           id                                                url  \
0  7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1  7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2  7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3  7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4  7303797340  https://knoxville.craigslist.org/ctd/d/knoxvil...

         region                           region_url  price  year  \
0   chattanooga   https://chattanooga.craigslist.org  54990  2020
1  north jersey     https://newjersey.craigslist.org  16942  2016
2  reno / tahoe          https://reno.craigslist.org  35590  2017
3  fayetteville  https://fayetteville.craigslist.org  14500  2013
4     knoxville     https://knoxville.craigslist.org  14590  2012

  manufacturer                   model    fuel  odometer  ... state_wy  \
0          ram  2500 crew cab big horn  diesel     27442  ...      0.0
1         ford    explorer 4wd 4dr xlt   other     60023  ...      0.0
2   volkswagen        golf r hatchback     gas     14048  ...      0.0
3       toyota                    rav4     gas    117291  ...      0.0
4          bmw  1 series 128i coupe 2d   other     80465  ...      0.0

  title_status_clean title_status_lien title_status_missing  \
0                1.0               0.0                  0.0
1                1.0               0.0                  0.0
2                1.0               0.0                  0.0
3                1.0               0.0                  0.0
4                1.0               0.0                  0.0

  title_status_parts only  title_status_rebuilt  title_status_salvage  \
0                     0.0                   0.0                   0.0
1                     0.0                   0.0                   0.0
2                     0.0                   0.0                   0.0
3                     0.0                   0.0                   0.0
4                     0.0                   0.0                   0.0

  age_category_average age_category_new age_category_old
0                  0.0              1.0              0.0
1                  0.0              1.0              0.0
2                  0.0              1.0              0.0
3                  1.0              0.0              0.0
4                  1.0              0.0              0.0

[5 rows x 1485 columns]
Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'fuel', 'odometer',
       ...
       'state_wy', 'title_status_clean', 'title_status_lien',
       'title_status_missing', 'title_status_parts only',
       'title_status_rebuilt', 'title_status_salvage', 'age_category_average',
       'age_category_new', 'age_category_old'],
      dtype='object', length=1485)

8. Посмотрите на результат обратного преобразования получившейся матрицы в исходные признаки, используйте `inverse_transform`.

In [316]:
# Ваш код здесь
ohe.inverse_transform(encoded_data)

array([['2500', 'other', 'chattanooga', ..., 'tn', 'clean', 'new'],
       ['explorer', 'automatic', 'north jersey', ..., 'nj', 'clean',
        'new'],
       ['golf', 'other', 'reno / tahoe', ..., 'ca', 'clean', 'new'],
       ...,
       ['a3', 'automatic', 'salem', ..., 'or', 'clean', 'average'],
       ['cayenne', 'automatic', 'madison', ..., 'wi', 'clean', 'new'],
       ['1500', 'other', 'norfolk / hampton roads', ..., 'va', 'clean',
        'new']], dtype=object)

### Задача 3. Стандартизация данных

1. Создайте переменную под количественные переменные `lat`, `long`, `year`, `odometer/price`, `desc_len`, `model_in_desc`, `model_len`, `model_word_count` и создайте датафрейм `data`, содержащий только выбранные количественные переменные.

In [319]:
# Ваш код здесь
val_columns = ['lat', 'long', 'year', 'odometer/price', 'desc_len', 'model_in_desc', 'model_len', 'model_word_count']
data = df[val_columns]
data.head()

,lat,long,year,odometer/price,desc_len,model_in_desc,model_len,model_word_count
0,35.060000,-85.250000,2020,0.499036,4482,0,22,5
1,40.821805,-74.061962,2016,3.542852,968,0,20,4
2,33.779214,-84.411811,2017,0.394718,4286,0,16,3
3,35.715954,-78.655304,2013,8.089034,3241,0,4,1
4,35.970000,-83.940000,2012,5.515079,4851,0,22,5

2. Создайте объект `std_scaler` класса StandardScaler с параметрами по умолчанию, который будет отвечать за стандартизацию.

In [322]:
# Ваш код здесь
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

3. Идентифицируйте параметры преобразования на датафрейме с количественными переменными.

In [325]:
# Ваш код здесь
std_scaler.fit(data)
std_scaled = std_scaler.transform(data)

4. Примените преобразование для датафрейма с количественными переменными и сохраните в новую переменную, распечатайте получившуюся матрицу и её размерность.

In [330]:
# Ваш код здесь
scaled_df = pd.DataFrame(std_scaled, columns=[f"{col}_std" for col in val_columns])
print(scaled_df.head())
print(scaled_df.shape)

    lat_std  long_std  year_std  odometer/price_std  desc_len_std  \
0 -0.619172  0.484245  1.322394           -0.510784      0.632075
1  0.388014  1.110800  0.695973           -0.402947     -0.646781
2 -0.843059  0.531185  0.852578           -0.514480      0.560744
3 -0.504509  0.853562  0.226157           -0.241883      0.180435
4 -0.460101  0.557607  0.069552           -0.333074      0.766366

   model_in_desc_std  model_len_std  model_word_count_std
0          -0.155788       1.163032              1.910669
1          -0.155788       0.932087              1.235799
2          -0.155788       0.470197              0.560930
3          -0.155788      -0.915473             -0.788810
4          -0.155788       1.163032              1.910669
(9619, 8)

5. Создайте наименования новых признаков по шаблону: `lat_std` для `lat` и так далее.

In [333]:
# Ваш код здесь

6. Добавьте в исходный датафрейм получившиеся новые признаки, выведите первые пять записей датафрейма и список колонок.

In [336]:
# Ваш код здесь
df = pd.concat([df, scaled_df], axis=1)
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,age_category_new,age_category_old,lat_std,long_std,year_std,odometer/price_std,desc_len_std,model_in_desc_std,model_len_std,model_word_count_std
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,1.0,0.0,-0.619172,0.484245,1.322394,-0.510784,0.632075,-0.155788,1.163032,1.910669
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,1.0,0.0,0.388014,1.110800,0.695973,-0.402947,-0.646781,-0.155788,0.932087,1.235799
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,1.0,0.0,-0.843059,0.531185,0.852578,-0.514480,0.560744,-0.155788,0.470197,0.560930
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,0.0,0.0,-0.504509,0.853562,0.226157,-0.241883,0.180435,-0.155788,-0.915473,-0.788810
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,0.0,0.0,-0.460101,0.557607,0.069552,-0.333074,0.766366,-0.155788,1.163032,1.910669

### Задача 4. MinMax-нормализация данных

1. Импортируйте MinMaxScaler из `sklearn.preprocessing`.

In [339]:
from sklearn.preprocessing import MinMaxScaler
# Ваш код здесь
min_max_scaler = MinMaxScaler()

2. Создайте датафрейм, содержащий переменные `lat` и `long`.

In [342]:
data1 = df[['lat', 'long']]
data1.head()
# Ваш код здесь

         lat       long
0  35.060000 -85.250000
1  40.821805 -74.061962
2  33.779214 -84.411811
3  35.715954 -78.655304
4  35.970000 -83.940000

3. Повторите действия пунктов 2–6 из задачи 3 для добавления в исходный датафрейм признаков `lat_mm` и `long_mm`. Выведите получившийся датафрейм.

In [345]:
# Ваш код здесь
min_max_data = min_max_scaler.fit_transform(data1)

min_max_df = pd.DataFrame(min_max_data, columns=['lat_mm', 'long_mm'])

df = pd.concat([df, min_max_df], axis=1)

print(df.head())

           id                                                url  \
0  7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1  7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2  7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3  7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4  7303797340  https://knoxville.craigslist.org/ctd/d/knoxvil...

         region                           region_url  price  year  \
0   chattanooga   https://chattanooga.craigslist.org  54990  2020
1  north jersey     https://newjersey.craigslist.org  16942  2016
2  reno / tahoe          https://reno.craigslist.org  35590  2017
3  fayetteville  https://fayetteville.craigslist.org  14500  2013
4     knoxville     https://knoxville.craigslist.org  14590  2012

  manufacturer                   model    fuel  odometer  ...   lat_std  \
0          ram  2500 crew cab big horn  diesel     27442  ... -0.619172
1         ford    explorer 4wd 4dr xlt   other     60023  ...  0.388014
2   volkswagen        golf r hatchback     gas     14048  ... -0.843059
3       toyota                    rav4     gas    117291  ... -0.504509
4          bmw  1 series 128i coupe 2d   other     80465  ... -0.460101

   long_std  year_std odometer/price_std desc_len_std  model_in_desc_std  \
0  0.484245  1.322394          -0.510784     0.632075          -0.155788
1  1.110800  0.695973          -0.402947    -0.646781          -0.155788
2  0.531185  0.852578          -0.514480     0.560744          -0.155788
3  0.853562  0.226157          -0.241883     0.180435          -0.155788
4  0.557607  0.069552          -0.333074     0.766366          -0.155788

   model_len_std model_word_count_std    lat_mm   long_mm
0       1.163032             1.910669  0.341769  0.288699
1       0.932087             1.235799  0.468665  0.333055
2       0.470197             0.560930  0.313561  0.292022
3      -0.915473            -0.788810  0.356215  0.314844
4       1.163032             1.910669  0.361810  0.293893

[5 rows x 1495 columns]

4. Создайте переменную под географические признаки `lat`, `lat_std`, `lat_mm`, `long`, `long_std`, `long_mm` и выведите их. Посмотрите на различия в значениях для исходных признаков и нормализованных с помощью стандартизации и MinMax-преобразования.

In [348]:
# Ваш код здесь
data2= df[['lat', 'lat_std', 'lat_mm', 'long', 'long_std', 'long_mm']]
data2.head()

         lat   lat_std    lat_mm       long  long_std   long_mm
0  35.060000 -0.619172  0.341769 -85.250000  0.484245  0.288699
1  40.821805  0.388014  0.468665 -74.061962  1.110800  0.333055
2  33.779214 -0.843059  0.313561 -84.411811  0.531185  0.292022
3  35.715954 -0.504509  0.356215 -78.655304  0.853562  0.314844
4  35.970000 -0.460101  0.361810 -83.940000  0.557607  0.293893

5. Выведите описательные статистики для всех географических признаков. Посмотрите на различия в статистиках для исходных признаков и нормализованных с помощью стандартизации и MinMax-преобразования.

In [364]:
# Ваш код здесь
print(data2.describe())

               lat       lat_std       lat_mm         long      long_std  \
count  9619.000000  9.619000e+03  9619.000000  9619.000000  9.619000e+03
mean     38.602095  2.105257e-16     0.419779   -93.896875 -4.498602e-16
std       5.720989  1.000052e+00     0.125997    17.857352  1.000052e+00
min      19.541726 -3.331829e+00     0.000000  -158.069300 -3.593801e+00
25%      34.920000 -6.436450e-01     0.338685  -106.944340 -7.306875e-01
50%      39.300000  1.219966e-01     0.435149   -87.845800  3.388739e-01
75%      42.382100  6.607601e-01     0.503028   -80.678711  7.402470e-01
max      64.947500  4.605283e+00     1.000000    94.163200  1.053179e+01

           long_mm
count  9619.000000
mean      0.254418
std       0.070797
min       0.000000
25%       0.202690
50%       0.278408
75%       0.306822
max       1.000000

6. Выведите матрицу корреляций для всех географических признаков, чтобы убедиться, что нормализация признаков сохранила свойства исходных признаков.

In [366]:
# Ваш код здесь
data2.corr()

               lat   lat_std    lat_mm      long  long_std   long_mm
lat       1.000000  1.000000  1.000000 -0.134596 -0.134596 -0.134596
lat_std   1.000000  1.000000  1.000000 -0.134596 -0.134596 -0.134596
lat_mm    1.000000  1.000000  1.000000 -0.134596 -0.134596 -0.134596
long     -0.134596 -0.134596 -0.134596  1.000000  1.000000  1.000000
long_std -0.134596 -0.134596 -0.134596  1.000000  1.000000  1.000000
long_mm  -0.134596 -0.134596 -0.134596  1.000000  1.000000  1.000000

### Задача 5. Признаки на основе дат

1. Выведите по отдельности колонки `posting_date` и `date`.

In [372]:
# Ваш код здесь
print(df['posting_date'])
print(df['date'])

0       2021-04-17T12:30:50-0400
1       2021-05-03T15:40:21-0400
2       2021-04-28T03:52:20-0700
3       2021-04-17T10:08:57-0400
4       2021-04-08T15:10:56-0400
                  ...
9614    2021-04-10T16:33:57-0400
9615    2021-05-03T09:36:30-0400
9616    2021-04-22T12:14:01-0700
9617    2021-04-14T09:14:42-0500
9618    2021-04-24T13:50:49-0400
Name: posting_date, Length: 9619, dtype: object
0       2021-04-17 16:30:50+00:00
1       2021-05-03 19:40:21+00:00
2       2021-04-28 10:52:20+00:00
3       2021-04-17 14:08:57+00:00
4       2021-04-08 19:10:56+00:00
                  ...
9614    2021-04-10 20:33:57+00:00
9615    2021-05-03 13:36:30+00:00
9616    2021-04-22 19:14:01+00:00
9617    2021-04-14 14:14:42+00:00
9618    2021-04-24 17:50:49+00:00
Name: date, Length: 9619, dtype: object

2. Ранее преобразованная колонка `date` после сохранения в файл и загрузки из него содержит данные в строковом формате, поэтому измените её тип c помощью `pd.to_datetime`.

In [374]:
# Ваш код здесь
df['date'] = pd.to_datetime(df['date'])

3. Несколькими способами извлеките номер месяца продажи автомобиля.

3.1. Из переменной `posting_date` с помощью lambda-функции и операций над строками.

In [386]:
# Ваш код здесь
df['month'] = df['posting_date'].apply(lambda x: int(x.split('-')[1]))

3.2. Из переменной `date` с помощью lambda-функции и метода `month`.

In [389]:
# Ваш код здесь
df['month_from_date_lambda'] = df['date'].apply(lambda x: x.month)

3.3. Из переменной `date` с помощью `dt` и метода `month`.

In [392]:
# Ваш код здесь
df['month_from_date_dt'] = df['date'].dt.month

4. Создайте любым из способов (3.2 или 3.3) признак `month`, обозначающий номер месяца размещения объявления о продаже автомобиля, и распечатайте его.

In [396]:
# Ваш код здесь
df['month'] = df['date'].dt.month
df['month']

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: month, Length: 9619, dtype: int32

5. Создайте признак `dayofweek`, обозначающий день недели размещения объявления о продаже автомобиля, и распечатайте его.

In [400]:
# Ваш код здесь
df['dayofweek'] = df['date'].dt.dayofweek

print(df['dayofweek'])

0       5
1       0
2       2
3       5
4       3
       ..
9614    5
9615    0
9616    3
9617    2
9618    5
Name: dayofweek, Length: 9619, dtype: int32

6. Создайте признак `diff_years`, обозначающий количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля, и распечатайте его. Дополнительные корректировки не применяйте.

In [402]:
# Ваш код здесь
df['diff_years'] = df['date'].dt.year - df['year']

print(df['diff_years'].head())

0    1
1    5
2    4
3    8
4    9
Name: diff_years, dtype: int64

7. Примените стандартизацию к новым признаками и сохраните результат в новые признаки вида `month_std`.

In [410]:
# Ваш код здесь
df['month_std'] = std_scaler.fit_transform(df[['month']])
df['dayofweek_std'] = std_scaler.fit_transform(df[['dayofweek']])
df['diff_years_std'] = std_scaler.fit_transform(df[['diff_years']])

print(df[['month_std', 'dayofweek_std', 'diff_years_std']])

      month_std  dayofweek_std  diff_years_std
0     -0.615846       1.120284       -1.322394
1      1.623784      -1.374972       -0.695973
2     -0.615846      -0.376870       -0.852578
3     -0.615846       1.120284       -0.226157
4     -0.615846       0.122182       -0.069552
...         ...            ...             ...
9614  -0.615846       1.120284        1.496501
9615   1.623784      -1.374972        0.556869
9616  -0.615846       0.122182        0.087054
9617  -0.615846      -0.376870       -0.539367
9618  -0.615846       1.120284       -0.852578

[9619 rows x 3 columns]

### Задача 6. Сохранение датафрейма для этапа моделирования

1. Удалите колонки, которые были исходными для формирования признаков, а также новые признаки, которые были добавлены с целью обучения.  Сохраните новый датафрейм в переменную `df_prepared`.

In [412]:
# Допишите код

columns_for_drop = ['year', 'url', 'region', 'region_url', 'manufacturer',
                    'model', 'fuel', 'odometer', 'title_status', 'transmission',
                    'image_url', 'description', 'state', 'lat', 'long', 'posting_date',
                    'odometer_km', 'odometer/price', 'region_new', 'region_corrected', 'manufacturer_model',
                    'desc_len', 'model_in_desc', 'price_k$', 'age_category', 'model_len', 'model_word_count',
                    'short_model', 'lat_mm', 'long_mm', 'date', 'std_scaled_price',
                    'month', 'dayofweek', 'diff_years',
                    'odometer/price_std']

df_prepared = df.drop(columns=columns_for_drop)

2. Распечатайте оставшийся список колонок и размерность финального датафрейма.

In [417]:
# Ваш код здесь
print(df_prepared.columns)
print(df_prepared.shape)

Index(['id', 'price', 'price_category', 'is_audi', 'is_ford', 'is_chevrolet',
       'is_toyota', 'is_jeep', 'is_honda', 'is_nissan',
       ...
       'year_std', 'desc_len_std', 'model_in_desc_std', 'model_len_std',
       'model_word_count_std', 'month_from_date_lambda', 'month_from_date_dt',
       'month_std', 'dayofweek_std', 'diff_years_std'],
      dtype='object', length=1467)
(9619, 1467)

3. Запишите преобразованный датафрейм в файл `data/vehicles_dataset_prepared.csv`, индекс не сохраняйте.

In [423]:
df_prepared.to_csv('C:/Users/derna/OneDrive/Рабочий стол/дата аналитик/дз/Module_20/vehicles_dataset_prepared.csv', index=False)
# Ваш код здесь

## Описание преобразованного датасета:
- `id`— идентификатор записи;
- `is_manufacturer_name`— признак производителя автомобиля;

- `region_*`— регион;
- `x0_*`— тип топлива;
- `manufacturer_*`— производитель;
- `short_model_*`— сокращённая модель автомобиля;
- `title_status_*`— статус;
- `transmission_*`— коробка передач;
- `state_*`— штат;
- `age_category_*`— возрастная категория автомобиля;

- `std_scaled_odometer`— количество пройденных миль (после стандартизации);
- `year_std`— год выпуска (после стандартизации);
- `lat_std`— широта (после стандартизации);
- `long_std`— долгота (после стандартизации);
- `odometer/price_std`— отношение стоимости к пробегу автомобиля (после стандартизации);
- `desc_len_std`— количество символов в тексте объявления о продаже (после стандартизации);
- `model_in_desc_std`— количество наименований модели автомобиля в тексте объявления о продаже (после стандартизации);
- `model_len_std`— длина наименования автомобиля (после стандартизации);
- `model_word_count_std`— количество слов в наименовании автомобиля (после стандартизации);
- `month_std`— номер месяца размещения объявления о продаже автомобиля (после стандартизации);
- `dayofweek_std`— день недели размещения объявления о продаже автомобиля (после стандартизации);
- `diff_years_std`— количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля (после стандартизации);

- `price`— стоимость;
- `price_category`– категория цены.