In [3]:
import pandas as pd

# Работа с качеством данных df_hits

In [6]:
df_hits = pd.read_csv('ga_hits.csv')
df_hits.head()

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,NaN,NaN
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,event,NaN,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,NaN,NaN
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,NaN,NaN
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,event,NaN,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,NaN,NaN
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,event,NaN,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,NaN,NaN

In [7]:
df_hits.shape

(15726470, 11)

### Проверяем дубликаты

In [10]:
df_hits[df_hits.duplicated()]

Empty DataFrame
Columns: [session_id, hit_date, hit_time, hit_number, hit_type, hit_referer, hit_page_path, event_category, event_action, event_label, event_value]
Index: []

### Проверка пропусков:

In [12]:
def print_useful_rows_info(df):
    total_rows = len(df)
    print(f'Всего строк в DataFrame: {total_rows}')
    print('\nИнформация о пропусках по столбцам:\n')
    
    missing_info = df.isnull().sum()
    for column, missing_count in missing_info.items():
        missing_percent = (missing_count / total_rows) * 100
        print(f'- {column}: {missing_count} пропусков ({missing_percent:.2f}%)')

    complete_rows = df.dropna()
    print('\nКоличество полностью заполненных строк:', len(complete_rows))
    print('Процент полностью заполненных строк:', round(len(complete_rows) / total_rows * 100, 2), '%')

In [13]:
print_useful_rows_info(df_hits)

Всего строк в DataFrame: 15726470

Информация о пропусках по столбцам:

- session_id: 0 пропусков (0.00%)
- hit_date: 0 пропусков (0.00%)
- hit_time: 9160322 пропусков (58.25%)
- hit_number: 0 пропусков (0.00%)
- hit_type: 0 пропусков (0.00%)
- hit_referer: 6274804 пропусков (39.90%)
- hit_page_path: 0 пропусков (0.00%)
- event_category: 0 пропусков (0.00%)
- event_action: 0 пропусков (0.00%)
- event_label: 3760184 пропусков (23.91%)
- event_value: 15726470 пропусков (100.00%)

Количество полностью заполненных строк: 0
Процент полностью заполненных строк: 0.0 %

Колонка event_value полностью незаполнена, можно смело удалять. Также удалим колонку hit_time, hit_referer, event_label более 20% пропусков.

In [18]:
columns_to_drop = [
    'event_value',
    'hit_time',
    'hit_referer',
    'event_label'
]

df_hits.drop(columns_to_drop, axis=1, inplace=True)

In [19]:
print_useful_rows_info(df_hits)

Всего строк в DataFrame: 15726470

Информация о пропусках по столбцам:

- session_id: 0 пропусков (0.00%)
- hit_date: 0 пропусков (0.00%)
- hit_number: 0 пропусков (0.00%)
- hit_type: 0 пропусков (0.00%)
- hit_page_path: 0 пропусков (0.00%)
- event_category: 0 пропусков (0.00%)
- event_action: 0 пропусков (0.00%)

Количество полностью заполненных строк: 15726470
Процент полностью заполненных строк: 100.0 %

### Проверка данных

In [23]:
df_hits.head()

,session_id,hit_date,hit_number,hit_type,hit_page_path,event_category,event_action
0,5639623078712724064.1640254056.1640254056,2021-12-23,30,event,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show
1,7750352294969115059.1640271109.1640271109,2021-12-23,41,event,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show
2,885342191847998240.1640235807.1640235807,2021-12-23,49,event,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show
3,142526202120934167.1640211014.1640211014,2021-12-23,46,event,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show
4,3450086108837475701.1640265078.1640265078,2021-12-23,79,event,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show

In [25]:
df_hits.shape

(15726470, 7)

In [27]:
df_hits.nunique(dropna=False)

session_id        1734610
hit_date              226
hit_number            500
hit_type                1
hit_page_path      342715
event_category         52
event_action          230
dtype: int64

Можно удалить колонку hit_type, т к все значения в ней одинаковые и пользы она не несет

In [30]:
df_hits.drop('hit_type', axis=1, inplace=True)

### Удаление ненужных атрибутов

Для наших задач понадобятся не все столбцы, лишние можно удалить

In [34]:
df_hits.head()

,session_id,hit_date,hit_number,hit_page_path,event_category,event_action
0,5639623078712724064.1640254056.1640254056,2021-12-23,30,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show
1,7750352294969115059.1640271109.1640271109,2021-12-23,41,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show
2,885342191847998240.1640235807.1640235807,2021-12-23,49,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show
3,142526202120934167.1640211014.1640211014,2021-12-23,46,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show
4,3450086108837475701.1640265078.1640265078,2021-12-23,79,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show

In [36]:
columns_to_drop2 = [
    'hit_date',
    'hit_number',
    'event_category'
]

df_hits.drop(columns_to_drop2, axis=1, inplace=True)

In [37]:
df_hits.head()

,session_id,hit_page_path,event_action
0,5639623078712724064.1640254056.1640254056,sberauto.com/cars?utm_source_initial=google&ut...,quiz_show
1,7750352294969115059.1640271109.1640271109,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz_show
2,885342191847998240.1640235807.1640235807,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz_show
3,142526202120934167.1640211014.1640211014,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz_show
4,3450086108837475701.1640265078.1640265078,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz_show

# Работа с качеством данных df_session

In [41]:
df_sessions = pd.read_csv('ga_sessions.csv')
df_sessions.head()

C:\Users\derna\AppData\Local\Temp\ipykernel_7452\4016491077.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sessions = pd.read_csv('ga_sessions.csv')

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.162225,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow

In [43]:
df_sessions.shape

(1860042, 18)

In [45]:
df_sessions[df_sessions.duplicated()]

Empty DataFrame
Columns: [session_id, client_id, visit_date, visit_time, visit_number, utm_source, utm_medium, utm_campaign, utm_adcontent, utm_keyword, device_category, device_os, device_brand, device_model, device_screen_resolution, device_browser, geo_country, geo_city]
Index: []

### Првоерка пропусков

In [48]:
print_useful_rows_info(df_sessions)

Всего строк в DataFrame: 1860042

Информация о пропусках по столбцам:

- session_id: 0 пропусков (0.00%)
- client_id: 0 пропусков (0.00%)
- visit_date: 0 пропусков (0.00%)
- visit_time: 0 пропусков (0.00%)
- visit_number: 0 пропусков (0.00%)
- utm_source: 97 пропусков (0.01%)
- utm_medium: 0 пропусков (0.00%)
- utm_campaign: 219603 пропусков (11.81%)
- utm_adcontent: 335615 пропусков (18.04%)
- utm_keyword: 1082061 пропусков (58.17%)
- device_category: 0 пропусков (0.00%)
- device_os: 1070138 пропусков (57.53%)
- device_brand: 367178 пропусков (19.74%)
- device_model: 1843704 пропусков (99.12%)
- device_screen_resolution: 0 пропусков (0.00%)
- device_browser: 0 пропусков (0.00%)
- geo_country: 0 пропусков (0.00%)
- geo_city: 0 пропусков (0.00%)

Количество полностью заполненных строк: 14940
Процент полностью заполненных строк: 0.8 %

Колонки 'utm_keyword', 'device_os', 'device_model' удаляем, т к пропуски более 20%

In [50]:
columns_to_drop1 = [
    'utm_keyword',
    'device_os',
    'device_model'
]

df_sessions.drop(columns_to_drop1, axis=1, inplace=True)

In [52]:
print_useful_rows_info(df_sessions)

Всего строк в DataFrame: 1860042

Информация о пропусках по столбцам:

- session_id: 0 пропусков (0.00%)
- client_id: 0 пропусков (0.00%)
- visit_date: 0 пропусков (0.00%)
- visit_time: 0 пропусков (0.00%)
- visit_number: 0 пропусков (0.00%)
- utm_source: 97 пропусков (0.01%)
- utm_medium: 0 пропусков (0.00%)
- utm_campaign: 219603 пропусков (11.81%)
- utm_adcontent: 335615 пропусков (18.04%)
- device_category: 0 пропусков (0.00%)
- device_brand: 367178 пропусков (19.74%)
- device_screen_resolution: 0 пропусков (0.00%)
- device_browser: 0 пропусков (0.00%)
- geo_country: 0 пропусков (0.00%)
- geo_city: 0 пропусков (0.00%)

Количество полностью заполненных строк: 1230859
Процент полностью заполненных строк: 66.17 %

In [55]:
df_sessions['device_brand'].value_counts(dropna=False)

device_brand
Apple       551088
NaN         367178
Samsung     332194
Xiaomi      288367
Huawei      185853
             ...
Vodafone         1
Wexler           1
KingSing         1
Star             1
Opera            1
Name: count, Length: 206, dtype: int64

Пропуски в колонке device_brand заполним значением other

In [58]:
df_sessions['device_brand'] = df_sessions['device_brand'].fillna('other')

Пропуски в колонках utm_campaign, utm_adcontent, utm_source также заполним значением other

In [61]:
df_sessions['utm_campaign'] = df_sessions['utm_campaign'].fillna('other')
df_sessions['utm_adcontent'] = df_sessions['utm_adcontent'].fillna('other')
df_sessions['utm_source'] = df_sessions['utm_source'].fillna('other')

In [63]:
print_useful_rows_info(df_sessions)

Всего строк в DataFrame: 1860042

Информация о пропусках по столбцам:

- session_id: 0 пропусков (0.00%)
- client_id: 0 пропусков (0.00%)
- visit_date: 0 пропусков (0.00%)
- visit_time: 0 пропусков (0.00%)
- visit_number: 0 пропусков (0.00%)
- utm_source: 0 пропусков (0.00%)
- utm_medium: 0 пропусков (0.00%)
- utm_campaign: 0 пропусков (0.00%)
- utm_adcontent: 0 пропусков (0.00%)
- device_category: 0 пропусков (0.00%)
- device_brand: 0 пропусков (0.00%)
- device_screen_resolution: 0 пропусков (0.00%)
- device_browser: 0 пропусков (0.00%)
- geo_country: 0 пропусков (0.00%)
- geo_city: 0 пропусков (0.00%)

Количество полностью заполненных строк: 1860042
Процент полностью заполненных строк: 100.0 %

### Удаляем лишние столбцы

In [66]:
df_sessions.head()

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,device_category,device_brand,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,mobile,Huawei,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,mobile,Samsung,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,mobile,Huawei,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.162225,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,other,NOBKLgtuvqYWkXQHeYWM,mobile,Xiaomi,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,other,other,mobile,Xiaomi,393x786,Chrome,Russia,Moscow

In [68]:
columns_to_drop3 = [
    'visit_time',
    'visit_number',
    'device_screen_resolution',
    'device_browser'
]

df_sessions.drop(columns_to_drop3, axis=1, inplace=True)

In [70]:
df_sessions.head()

,session_id,client_id,visit_date,utm_source,utm_medium,utm_campaign,utm_adcontent,device_category,device_brand,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,mobile,Huawei,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,mobile,Samsung,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,mobile,Huawei,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.162225,2021-05-29,kjsLglQLzykiRbcDiGcD,cpc,other,NOBKLgtuvqYWkXQHeYWM,mobile,Xiaomi,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,kjsLglQLzykiRbcDiGcD,cpc,other,other,mobile,Xiaomi,Russia,Moscow

# Сохраняем обновленные DataFrames

In [73]:
df_hits.to_csv('df_hits_clean.csv', index=False)

In [75]:
df_sessions.to_csv('df_sessions_clean.csv', index=False)